<h2>Login</h2>
<!-- <form [formGroup]="form" (ngSubmit)="submit()">
  <label>Email:</label><br />
  <input type="email" formControlName="email"><br /><br />

  <label>Password:</label><br />
  <input type="password" formControlName="password"><br /><br />

  <button type="submit">Login</button>
  <button type="button" (click)="logout()">logout</button>
</form > -->
<div class="login-box">
  <div class="login-header">
    <header>Login</header>
  </div>
  
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="input-box">
      <input type="email" formControlName="email" class="input-field" placeholder="Email" autocomplete="off" required>
    </div>
    
    <div class="input-box">
      <input type="password" formControlName="password" class="input-field" placeholder="Password" autocomplete="off" required>
    </div>
    
    <div class="forgot">
      <section>
        <input type="checkbox" id="check" name="remember">
        <label for="check">Remember me</label>
      </section>
      <section>
        <a href="#">Forgot password</a>
      </section>
    </div>
    
    <div class="input-submit">
      <button type="submit" class="submit-btn">Sign In</button>
    </div>
    
    <div class="sign-up-link">
      <p>Don't have an account? <a href="#">Sign Up</a></p>
    </div>
  </form>
</div>

