<div class="menu-bar">
  <h1 class="logo">Light<span>Code.</span></h1>
  <ul>
    <li *ngFor="let nav of navLinks">
      <a [routerLink]="nav.href">{{ nav.name }}</a>
    </li>

    <li>
      <a href="#">Pages <i></i></a>

      <div class="dropdown-menu">
        <ul>
          <li *ngFor="let link of userDropdownOptions">
            <a *ngIf="link.name === 'Log Out'" (click)="logout()" href="#">
              {{ link.name }}
            </a>
            <a *ngIf="link.name !== 'Log Out'" [routerLink]="link.href">
              {{ link.name }}
            </a>
          </li>
          <!-- <li>
            <a href="#">Team <i class="fas fa-caret-right"></i></a>

            <div class="dropdown-menu-1">
              <ul>
                <li><a href="#">Team-1</a></li>
                <li><a href="#">Team-2</a></li>
                <li><a href="#">Team-3</a></li>
                <li><a href="#">Team-4</a></li>
              </ul>
            </div>
          </li> -->
        </ul>
      </div>
    </li>
  </ul>
</div>
